<?xml version="1.0" encoding="UTF-8"?>
<settings xsi:schemaLocation="http://maven.apache.org/SETTINGS/1.1.0 http://maven.apache.org/xsd/settings-1.1.0.xsd" xmlns="http://maven.apache.org/SETTINGS/1.1.0"
    xmlns:xsi="http://www.w3.org/2001/XMLSchema-instance">
  <servers>
    <server>
      <username>${env.MAVEN_RELEASE_USER}</username>
      <password>${env.MAVEN_RELEASE_PASS}</password>
      <id>redmic-release-local</id>
    </server>
    <server>
      <username>${env.MAVEN_SNAPSHOT_USER}</username>
      <password>${env.MAVEN_SNAPSHOT_PASS}</password>
      <id>redmic-snapshot-local</id>
    </server>
  </servers>
  <profiles>
    <profile>
      <id>artifactory</id>
      <properties>
        <altReleaseDeploymentRepository>redmic-release-local::default::${env.MAVEN_RELEASE_LOCAL_URL}</altReleaseDeploymentRepository>
        <altSnapshotDeploymentRepository>redmic-snapshot-local::default::${env.MAVEN_SNAPSHOT_LOCAL_URL}</altSnapshotDeploymentRepository>
      </properties>
      <repositories>
        <repository>
          <id>redmic-release</id>
          <name>libs-release</name>
          <url>${env.MAVEN_RELEASE_URL}</url>
        </repository>
        <repository>
          <id>redmic-snapshot</id>
          <name>libs-snapshot</name>
          <url>${env.MAVEN_SNAPSHOT_URL}</url>
        </repository>
        <repository>
          <id>confluent</id>
          <name>Confluent</name>
          <url>${env.MAVEN_CONFLUENT_URL}</url>
        </repository>
        <repository>
          <id>osgeo</id>
          <name>Open Source Geospatial Foundation Repository</name>
          <url>${env.MAVEN_GEOTOOLS_URL}</url>
        </repository>
      </repositories>
    </profile>
  </profiles>
  <activeProfiles>
    <activeProfile>artifactory</activeProfile>
  </activeProfiles>
</settings>
