<?xml version="1.0" encoding="UTF-8"?>
<settings xsi:schemaLocation="http://maven.apache.org/SETTINGS/1.1.0 http://maven.apache.org/xsd/settings-1.1.0.xsd" xmlns="http://maven.apache.org/SETTINGS/1.1.0"
    xmlns:xsi="http://www.w3.org/2001/XMLSchema-instance">
  <servers>
    <server>
      <username>${env.MAVEN_RELEASE_USER}</username>
      <password>${env.MAVEN_RELEASE_PASS}</password>
      <id>release</id>
    </server>
    <server>
      <username>${env.MAVEN_SNAPSHOT_USER}</username>
      <password>${env.MAVEN_SNAPSHOT_PASS}</password>
      <id>snapshot</id>
    </server>
  </servers>
  <profiles>
    <profile>
      <id>artifactory</id>
      <properties>
        <altReleaseDeploymentRepository>release::default::${env.MAVEN_RELEASE_LOCAL_URL}</altReleaseDeploymentRepository>
        <altSnapshotDeploymentRepository>snapshot::default::${env.MAVEN_SNAPSHOT_LOCAL_URL}</altSnapshotDeploymentRepository>
        <mavenReleaseUrl>${env.MAVEN_RELEASE_URL}</mavenReleaseUrl>
        <mavenSnapshotUrl>${env.MAVEN_SNAPSHOT_URL}</mavenSnapshotUrl>
      </properties>
      <repositories>
        <repository>
          <id>release</id>
          <name>libs-release</name>
          <url>${mavenReleaseUrl}</url>
        </repository>
        <repository>
          <id>snapshot</id>
          <name>libs-snapshot</name>
          <url>${mavenSnapshotUrl}</url>
        </repository>
      </repositories>
    </profile>
  </profiles>
  <activeProfiles>
    <activeProfile>artifactory</activeProfile>
  </activeProfiles>
</settings>
